@font-face {
    font-family: 'Kingspan Brown TT';
    src: url('KingspanBrownTT-Regular.woff2') format('woff2'),
        url('KingspanBrownTT-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

